#app-mount {
	.chat_f75fb0 {
		background: transparent;
		border: none;
		ol.scrollerInner__36d07 {
			padding-bottom: var(--chat-bottom-spacing);
		}
	}
	.chatContent_f75fb0 {
		background: var(--bg-secondary);
		border-left: 1px solid var(--bg-border);
	}
	.container__133bf{
		background-color: var(--background-base-lower);
	}
	.tabBody__133bf{
		background-color: var(--background-base-lower);
	}
	.nowPlayingColumn__133bf{
		background-color: var(--background-base-lower);
	}
	.theme-dark .themed__9293f{
		background-color: var(--background-base-lower);
	}
	.refresh-active-now .wrapper__00943{
		background: var(--background-base-lower);
	}
	.wrapper_cb9592.minimum_cb9592{
		background: var(--background-base-lower);
	}
	.root_bfe55a{
		background: var(--background-base-lower);
		}
	.channelChatWrapper_cb9592, .wrapper_cb9592{
		background: var(--background-base-lower);
	}
	.root_bfe55a{
		background: var(--background-base-lower);
	}
	.callContainer_cb9592{
		background: var(--background-base-lower);
	}
	.emptyCard__7e549{
		background: var(--background-base-lower);
	}
}
